<div style="margin: 20px;">
  <h4>Reactive Form Example</h4>
  <button type="button">Add User</button>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div style="margin-top: 10px;">
      <label for="firstName">First Name </label>
      <input type="text" id="firstName" name="firstName" formControlName="firstName"/>
    </div>
    <div style="margin-top: 10px;">
      <label for="lastName">Last Name </label>
      <input type="text" id="lastName" name="lastName" formControlName="lastName"/>
    </div>
    <div style="margin-top: 10px;">
      <label for="email">Email </label>
      <input type="text" id="email" name="email" formControlName="email"/>
    </div>
    <div style="margin-top: 10px;">
      <label for="phone">Phone </label>
      <input type="text" id="phone" name="phone" formControlName="phone"/>
    </div>
    <div style="margin-top: 10px;">
      <label for="company">company </label>
      <input type="text" id="company" name="company" formControlName="company"/>
    </div>
    <div style="margin-top: 10px;">
      <label>Gender</label>
      <div style="margin-top: 5px;">
        <input type="radio" id="genderMale" name="gender" formControlName="gender" value="Male"/>
        <label for="genderMale">Male </label>
      </div>
      <div style="margin-top: 5px;">
        <input type="radio" id="genderFemale" name="gender" formControlName="gender" value="Fe Male"/>
        <label for="genderFemale">Female </label>
      </div>
    </div>
    <div style="margin-top: 10px;">
      <label for="dob">DOB </label>
      <input type="date" id="dob" name="dob" formControlName="dob"/>
    </div>
    <div style="margin-top: 10px;">
      <label for="password">Password </label>
      <input type="password" id="password" name="password" formControlName="password"/>
    </div>
    <div style="margin-top: 10px;">
      <label for="confirmPassword">ConfirmPassword </label>
      <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"/>
    </div>
    <div style="margin-top:10px">
    <button type="submit" *ngIf="!form.get('id').value">Register</button>
    <button type="submit" *ngIf="form.get('id').value">Update</button>
    <button type="reset" (click)="form.reset()">Cancel</button>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Company</th>
        <th>DOB</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of registeredUsers;let i=index">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.company}}</td>
        <td>{{user.dob}}</td>
        <td><button (click)="editUser(i)"> Edit </button></td>
        <td><button (click)="deleteUser(i)"> Delete </button></td>
      </tr>
    </tbody>
  </table>
</div>